$mainColor: #F4FBFA;
$darkGreen: #4A5860;
$lightGreen: #00BFA5;

$white: white;
$lightWhite: #F5F5F6;
$orange: #F46D43;
$pink: #AD1265;
$blue: #087E95;

$linkColor: #11A1BA;


$baby-blue: 			#59a6dd;
$baby-yellow: 			#fee35f;
$windows-blue: 			#071ac2;
$dirty-white: 			#f6f6f6;

/* THEME */
$active-color: 			$windows-blue;